#divPrincipal{
    background-color: #1c1c1c;
}

#divSuperior, #divInferior{
    margin-top: 20px;
}

#divDatosMaster{
    height: 850px;
}

.divAtributoBase{
    border: 1px solid white;
    border-radius: 8px;
    width: 80px;
}

.atributoGrande{
    margin: 0px !important;
    padding: 0px !important;
}

.atributoPequeno{
    padding: 0px !important;
    margin-bottom: 0px !important;
    font-size: 11px;
}

.atributo{
    border: 1px solid white;
    border-radius: 8px;
    width: 40px;
    margin: 0px !important;
    padding-top: 2px;
}

.habilidades div p{
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
}

#divSuperior{
    padding-right: 0px;
    margin-right: 0px;
}

#divListaJugadores{
    margin-right: 0px !important;
}

#divInferior{
    padding-left: 0px;
}

