#divPrincipal{
    background-color: #1c1c1c;
}

#divSuperior, #divInferior{
    margin-top: 20px;
}

#divDatosMaster{
    height: 850px;
}

.h5{
    color: var(--colorPrincipal);
}

.h6{
    color: var(--colorPrincipal);
}

.divAtributoBase{
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    border-radius: 8px;
    width: 80px;
    margin-bottom: 3px;
    background-color: var(--ColorFondoSecundario);
}

.atributoBaseGrande{
    font-size: 20px;
    margin: 0px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.atributoBasePequeno{
    font-size: 13px;
    
}

.atributoSalvacion{
    font-size: 20px;
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    border-radius: 8px;
    width: 40px;
    background-color: var(--ColorFondoSecundario);
    margin: 1px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}


.atributoHabilidad {
    font-size: 18px;
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    background-color: var(--ColorFondoSecundario);
    border-radius: 8px;
    width: 40px;
    margin: 1px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#divSuperior{
    padding-right: 0px;
    margin-right: 0px;
}

#divListaJugadores{
    margin-right: 0px !important;
}

#divInferior{
    padding-left: 0px;
}

