#divTarjetaJugador{
    width: 235px;
    height: 420px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#divTarjetaJugador:hover{
    border: 1px solid rgb(150, 150, 150);
    cursor:pointer;
}

.jugadorSeleccionado{
    background-color: #5d656b !important;
}

#imagenTarjetaJugador{
    width: 150px;
    height: 150px;
    object-fit:cover;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#divBarrasJugador{
    width: 100%;
}

.progress-bar{
    text-shadow: 2px 2px 2px #838282;
}

#xpTarjetaJugador{
    background-color: #978536 !important;
}


#divNivel{
    left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d1cfcf;
    background-color: var(--ColorFondoSecundario);
    text-shadow: 2px 2px 2px #353535;
}

#numeroNivel{
    color: #ffffff;
    font-size: 15px;
}