#divTarjetaJugador{
    width: 250px;
    height: 420px;
    margin: 10px;
}

#imagenTarjetaJugador{
    width: 150px;
    height: 150px;
    object-fit:cover;
}

#divBarrasJugador{
    width: 100%;
}

.progress-bar{
    text-shadow: 2px 2px 2px #838282;
}
